@CHARSET "UTF-8";

table { table-layout: auto; }
table th, table td { overflow: hidden; }

tableWidth{
	width:800px;
}

body{
    padding:50px;
}
.btn-group {  
    white-space: nowrap;              
}
.btn-group .btn {  
    float: none;
    display: inline-block;
}
 .btn + .dropdown-toggle { 
    margin-left: -4px;
}


.table-responsive {
   border: 1px solid #ddd;
   margin-bottom: 15px;
   overflow: auto;
   width: 100%;
}

.cellpad{
   padding-left: 15px;
   padding-top: 15px;
   margin-left: 15px;
   margin-top: 15px;
}


